
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login {
  background-color: #3AAfa9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.additionChart {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  background-color: #eeeeee;
  border: 1px solid #999;
  border-radius: 6px;
}

.additionChart .btn {
  position: absolute;
  padding: 3px 10px;
  font-size: 10px;
  color: #fff;
  right: 30px;
  top: 2px;
  line-height: 13px;
  border-radius: 6px;
  background-color: #f00;
  cursor: pointer;
  transition: .3s;
  z-index: 999;
  border: 1px solid transparent;
}

.additionChart .btn:hover {
  background-color: #fff;
  color: #f00;
  border-color: #f00;
  opacity: .7;
}
